@charset "utf-8";

html {
  /* ブラウザのデフォルトが16px                        */
  /* デフォルトの16pxの代わりに1emが10pxになるように調整 */
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  color: rgb(73, 72, 72);
  font-size: 1.6rem; /* 16px */
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  text-align: center;
  background: url(../img/bg.jpg); /*★自分で画像を設定すること。*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
  user-select: none;
}

header,
footer,
h1,
h2,
h3,
p,
div,
.container01,
.filler01 {
  margin: 0.2em 0em 0em 0em;
  padding: 0.1em;
}

/*****************************/
/* 見出し（みだし）           */
/*****************************/
header {
  position: fixed; /*ヘッダーを固定（こてい）する*/
  /* 基準（きじゅん）を画面（がめん）の左上（ひだりうえ）に */
  top: 0em;
  left: 0em;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 10;
  background-color: #78a2d2;
}
h1 {
  font: 2em Rajdhani, "Noto Sans JP";
  color: #feffaf;
  /* background-image: radial-gradient(
    circle 248px at center,
    #16d9e3 0%,
    #30c7ec 47%,
    #46aef7 100%
  ); */
  background: linear-gradient(135deg, #78a2d2);
}

h2 {
  padding-left: 0.5em;
  border-left: 0.5em;
  color: #78a2d2;
  text-align: left;
}

.wave {
  display: inline-block;
  animation: jump 1.2s ease-in-out infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes jump{
  0%,100% {transform: translateY(0);}
  50%{transform: translateY(-5px);}
}
/*****************************/
/* ページ                    */
/*****************************/
main {
  z-index: 20;
  margin-top: 3em;
  overflow: scroll; /* コンテンツの表示を自動に設定（スクロール） */
}
/*****************************/
/* セクション(section)        */
/*****************************/
.container {
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0.5em;
  width: 80%;
  border-radius: 0.5em 1.5em;
  background-color: rgba(245, 245, 245, 0.6);
  box-shadow: 0 0 0.5em rgb(73, 72, 72);
}
main > p {
  font: 1.2em bold;
}

/*****************************/
/* アンカー(anchor)           */
/*****************************/
a {
  color: #000080;
  font-weight: 900;
  text-decoration: none;
  /*https://developer.mozilla.org/ja/docs/Web/CSS/text-decoration9)*/
}

/* mouseoverでグレースケール */
a:hover img {
  animation: rotate 3s infinite;
}

@keyframes rotate{
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

a:hover {
  color: #2d120d;
}
/*****************************/
/* container  item           */
/*****************************/
.sub_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 0.7em;
}

.item01 {
  position: relative;
  width: 6em;
  height: 9em;
  margin: 0;
  line-height: 1em;
  overflow: hidden;
  opacity: 0;
}

.item02 {
  position: relative;
  width: 6em;
  height: 9em;
  margin: 0;
  line-height: 1em;
  overflow: hidden;
  opacity: 0;
}

.fade-in {
  animation: fadein 1.5s ease-out forwards;
}
@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.item01 img,
.item02 img {
  width: 6em;
  height: auto;
}

.item01 .img_fit {
  width: auto;
  height: 6em;
  overflow: hidden;
}

/*****************************/
/* フッター                   */
/*****************************/
footer > p {
  bottom: 5px;
  position: absolute;
  width: 100%;
  margin: 0px;
  padding: 0px;
  left: 0;
  color: #78a2d2;
  font: 16px Rajdhani;
  text-align: center;
  background: #feffaf;
}
/*******************************************************/
/* レスポンシブ対応　メディアクエリを使ってCSSを切り替える */
/* https://www.design-memo.com/coding/css-media-queries */
/* mobileのときのスタイル */
/*******************************************************/
@media screen and (max-width: 480px) {
  body {
    background-position: 50% 20%;
    background-size: auto 1000px;
  }
  header {
    font-size: 20px;
  }

  h1 {
    font-size: 1.5em;
  }
}
